html, body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    background-color: #000000;

    color: #E0E0E0;
}

#loginCard {
    background: #18191b;
    border-radius: 1.2em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);

    width: 20%;
    height: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginCard p {
    display: flex;
    flex-direction: column;
}

#loginCard p label {
    align-self: flex-start;
    margin-bottom: 0.8em;
    font-weight: bold;
}

#username, #password{
    color: #E0E0E0;
    background-color: #255faa;
    border: none;
    border-radius: 1em;
    padding: 1em;
}

#username:focus, #password:focus {
    outline: #62a6ff solid 0.3em;
}

#logInSubmit {
    color: #E0E0E0;
    background-color: #255faa;
    border: none;
    border-radius: 1em;
    padding: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#logInSubmit:hover {
    background-color: #62a6ff;
}